/*
 * Style tweaks
 * --------------------------------------------------
 */
 html {
    font-size: 62.5%; }
    .actor-card_name a {
  color: #000 !important;}
  html,
  body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */ }

  body {
    font-family: 'Poppins', sans-serif;
    padding-top: 14rem;
    padding-right: 5rem;
    padding-left: 5rem;
    background: content-box;
    color: #e9e9e9;
  }
  .list {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    transition: all .2s ease-in-out;
    margin-bottom: 5px; }
    .list-header {
      display: block;
      float: left;
      width: 25%;
      overflow: hidden;
      position: relative;
      border-radius: 2px 0 0 2px; }
      @media only screen and (max-width: 991px) {
        .list-header {
          display: block;
          width: 100%;
          padding: 0;
          border-radius: 0; } }
      .list-header img {
        width: 100%; }
      .list-header .list-header-image:after {
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100px;
        height: 100px;
        box-shadow: 0 0 200px 100px rgba(0, 0, 0, 0.58);
        z-index: 1;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
        filter: alpha(opacity=0);
        transition: all .8s;
        -moz-transition: all .8s;
        -webkit-transition: all .8s;
        -o-transition: all .8s; }
    .list-content {
      display: block;
      margin-left: 25%;
      padding: 15px;
      position: relative; }
      @media only screen and (max-width: 991px) {
        .list-content {
          display: block;
          width: 100%;
          margin-left: 0;
          padding: 15px;
          clear: both; } }
    .list-meta {
      display: block;
      margin-bottom: 16px;
      font-size: 13px;
      line-height: 100%; }
      .list-meta .list-meta-item {
        display: inline-block;
        margin-right: 18px;
        color: #9A9A9A; }
    .list:after {
      display: block;
      clear: both;
      content: ''; }
    .list:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

  .movie-card {
    background-color: transparent !important;
    border: none !important; }
    .movie-card__poster {
      display: block;
      height: 36rem;
      object-fit: cover;
      border-radius: .55rem;
      object-position: center;
      box-shadow: 0.1rem 0.2rem 1.5rem 0.9rem rgba(0, 0, 0, 0.1);
      animation: all .2s; }
      .movie-card__poster:hover {
        box-shadow: 0.1rem 0.2rem 1.5rem 0.9rem rgba(0, 0, 0, 0.3);
        transform: translateY(-0.5rem); }
    .movie-card__body {
      padding: 2.5rem .5rem 2rem .5rem; }
    .movie-card__title {
      color: #e9e9e9;
      font-weight: 300;
      text-align: left;
      font-size: 1.6rem; }
      .movie-card__title a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }
    .movie-card__release-date {
      color: #000;
      opacity: 0.8;
      font-size: 1.4rem;
      font-weight: 700;
  }
    .movie-card__vote {
      width: 3.8rem;
      font-size: 2rem;
      height: 3.8rem;
      line-height: 3.8rem;
      position: absolute !important;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      text-align: center;
      color: white;
      text-transform: uppercase;
      right: .5rem;
      top: .5rem;
      font-weight: 400;
      background:#01d277;
      /* background-image: linear-gradient(168deg, #622774, #c53364); */
      box-shadow: 0.1rem 0.2rem 1.5rem 0.9rem rgba(98, 39, 116, 0.3); }
      .movie-card__vote sup {
        font-size: 1.6rem;
        vertical-align: middle;
        font-weight: 100; }

  .actor-card {
    background-color: transparent;
    border: none; }
    .actor-card__face {
      display: block;
      height: 10vh;
      object-fit: cover;
      object-position: center; }
    .actor-card__body {
      padding-left: 0rem;
      padding-right: 0rem;
      padding-top: 1rem; }
    .actor-card__name {
      font-size: 1.4rem;
      height: 3rem;
      color: #e9e9e9;
      font-weight: 100; }

  .close {
    font-size: 3.5rem;
    font-weight: 100;
    color: #fff; }
    .close:hover {
      font-size: 3.5rem;
      font-weight: 100;
      color: #fff; }

  .modal-content {
    background-color: #000000 !important;
    border: none; }

  .modal-header {
    border: none;
    text-align: center;
    padding-right: 3rem; }

  .modal-title {
    font-size: 1.8rem; }

  .movie-trailer {
    background-size: cover;
    background-position: center;
    line-height: 32rem;
    height: 32rem;
    border-radius: 1rem;
    color: #ffffff;
    margin-bottom: 2rem; }

  .movie-poster {
    border-radius: .5rem;
    width: 100%; }

  .movie-title {
    font-size: 2.8rem;
    color: #e9e9e9; }

  .movie-release {
    font-size: 1.8rem;
    color: #e9e9e9; }

  .movie-vote {
    color: #c53364;
    font-size: 1.8rem; }

  .movie-overview h1 {
    font-size: 1.8rem;
    color: #e9e9e9; }

  .movie-overview p {
    font-size: 1.6rem;
    color: #e9e9e9;
    font-weight: 100; }

  .movie-billed {
    margin-top: 2rem; }
    .movie-billed h1 {
      font-size: 1.8rem;
      color: #000;
      margin-bottom: 2rem; }

  footer {
    padding: 3rem 0; }

  .mv-header {
    padding: 2.5rem !important;
    background:crimson }

    .mv-header .mv-logo {
      height: 3rem;
      background: #ffffff3d;
      /* padding-top: 6px; */
      font-size: 18px;
      padding: 5px 10px 0px 10px;}
    .mv-header .nav-item:not(:last-child) {
      margin-right: 4rem; }
    .mv-header .nav-item:first-child {
      margin-left: 4rem; }
    .mv-header .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.9) !important;
      font-size: 1.5rem;
      font-weight: 300; }
      .mv-header .navbar-nav .nav-link:focus, .mv-header .navbar-nav .nav-link:hover {
        color: #ffffff !important; }
      .mv-header .navbar-nav .nav-link.active {
        border-radius: 4.5rem !important;
        color: #ffffff !important;
        background: #ffffff3d;
        padding-left: 4rem !important;
        padding-right: 4rem !important; }
    .mv-header .navbar-brand {
      color: #ffffff !important; }
    .mv-header .navbar-nav .nav-link {
      color: white; }

  .mv-search .fa-search {
    color: #c53364;
    font-size: 2.5rem; }

  .list-group {
    border: solid 0.05rem rgba(102, 102, 102, 0.17);
    border-radius: 0rem;
    font-size: 1.4rem;
    font-weight: 100 !important;
    max-width: 20rem; }
    .list-group .list-group-item {
      background-color: black;
      color: rgba(255, 255, 255, 0.5) !important;
      border: none !important;
      border-radius: 0rem;
  }
      .list-group .list-group-item.active {
        z-index: 2;
        color: #ffffff !important;
        background-color: #2e3135 !important;
        border-left: 0.3rem solid #c53364 !important; }

.image_content img {
  width: 100%;
  border-radius: 0;

}
.meta {
  padding: 10px 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meta p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  width: 100%;
  line-height: 1.2em;
  margin: 0;
}
.meta p.name a {
  font-weight: 600;
  font-size: 1.1em;
  color: #000000
}
.meta p.sub {
  font-size: 0.9em;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
}
.item.profile.card {
  margin-top: 16px;

}
.pagination_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pagination {
   color: #000;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 500px;
  width: auto;
}
div.pagination span.disabled {
  display: none;
}
div.pagination .current {
  border: 1px solid #000;
  padding: 2px 8px;
  margin-right: 4px;
  font-style: normal;
  font-weight: 400;
}
div.pagination a {
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
  color: #fff
}
.results_profile_card{
  margin-bottom: 10px
}
.card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1)
}

.page-item{
  font-weight: 600;
    margin-left: 4px;
    margin-right: 4px;
    color: #fff;
}
/* .page-item.current{
  border: 1px solid #000
} */
.page-link {
  border: 1px solid #000;
  padding: 2px 8px;
  margin-right: 4px;
  font-style: normal;
  font-weight: 400;
}
.page-item a{
  color: #000
}
.page-item a:hover{
  color: #000
}

.actor-iamge img {
  width: 100%
}

div.grey_columns {
  background-color: #f1f1f1;
  width: 100%;
  min-height: calc(100vh - 795px);
  padding-left: 40px;
  padding-bottom: 40px;
  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */
  display: -ms-flexbox;
  padding-top: 20px;}
.section.facts ul li {
  margin-bottom: 6px;
  color: #000;}
div.column p strong {
  display: block;
  padding-bottom: 6px;
  font-weight: 600;
  color: #000
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
section.facts p {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-right: 20px;
  padding-bottom: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1em;
  color: #000;}

  .section.facts ul li {
    margin-bottom: 6px;
    color: #000;
}
.space{
  color: #000
}
.section.fact ul li {
  margin-bottom: 6px;
  color: #000;
}
.fact{
  color: #000
}
.actortitle a {
 color: #000
}
.actortitle {
  width: 100%;
    margin-bottom: 30px;
}
.actortitle h2 {
  margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
}
.bio {
   width: 100%;
  margin: 0 0 8px 0;
  font-weight: 600;
  line-height: 1.3em;
  font-size: 1.3em;
  margin-bottom: 8px;
  margin-top: 15px;
  color: #fff
}
.overview {
  font-size: 16px;
  color: #fff
}

.movie-know {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000
}
.right-column {
  color: #000;
  margin-top: 20px;
  background: #e9e9e942;
  padding: 10px;
}

.title {
  margin-top: 40px;
}

.header_info h3 {
  margin-top: 20px;
}

ul.movie-rating {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #01d277;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #2e3135;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: white;
  font-size: 26px;
  font-weight: bold;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
 .CircularProgressbar .CircularProgressbar-path {
  stroke: yellow !important;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  -o-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: #fff !important;
  font-size: 20px;
  text-anchor: middle;
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
.movie-rating {
    width: 15%;
    -ms-flex-preferred-size: 25%;
    padding: 0px;
}
.movie_title {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1.1em;
  font-weight: 700;
  display: inline-block;
}
.release_date {
  opacity: 0.6;
  font-size: .6em;
  font-weight: 400;}
.title a{
  margin: 0;
  padding: 0;
  font-size: 1.1em;
    line-height: 1.1em;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.dropdown-wrapper {
  margin-right: 32px;
}
.dropdown {
  margin-left: 8px;
  background-color: #222222;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  position: relative;
  width: 120px;
}
.dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #bbbbbb transparent;
}
.dropdown .dropdown-list {
  background-color: #222222;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
}
.onDropdown span {
  color: #fff333;
}
.dropdown .dropdown-list li {
  color: #bbbbbb;
  padding: 8px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.flex {
  display: flex;
}

.top-nav {
  margin: 24px 0;
}
.page-title {
  color: #000;
  margin-bottom: 15px
}


/*Discover*/
.Discover-main-title{
  margin-bottom: 10px;
}

.discover-tagline{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  font-weight: normal;
  font-size: 22px;
}

.sort-order{
  position: absolute;
  right: 0;
  top: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sort-order__item{
  display: flex;
  align-items: center;
  display: inherit;
  padding: 0 8px;
}

.sort-order-label{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.sort-order__item .Dropdown-arrow{
  display: none;
}

.sort-order__item .Dropdown-placeholder{
  text-decoration: underline;
}

.sort-order__item .Dropdown-control {
  padding: 6px 20px 6px 10px;
}

.sort-order__item .Dropdown-menu{
  width: 120%;
}

/*Drop down*/

.Dropdown-root {
  position: relative;
}

.Dropdown-root + .Dropdown-root {
  margin-top: 3px;
}

.Dropdown-control {
  font-size: 12px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  color: #FFF;
  background: crimson;
  cursor: pointer;
  outline: none;
  padding: 6px 40px 6px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 crimson;
}

.Dropdown-arrow {
  border-color: crimson transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 11px;
  width: 0;
}

.Dropdown-root.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: #191C1F;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  color: #FFF;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  font-size: 12px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  color: #FF424F;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.App-filters{
  color: #FFF;
}


.filters-list{
  padding: 0;
  list-style-type: none;
}

.filters-list__item{
  font-size: 14px;
  padding: 6px 0;
}

@media screen and (min-width: 1200px) {
  .filters-list__item{
    display: flex;
  }
}

.filter-label{
  font-size: 11px;
  margin-bottom: 15px;
  display: block;
  width: 30%;
}

.filters-reset{
  float: right;
  margin-top: 5px;
  background: transparent;
  border: 0;
  color: #AFBDC7;
  opacity: 0.5;
  cursor: pointer;
}

.filters-reset:hover{
  color: #FFF;
  opacity: 0.8;
}

.filters-reset svg{
  width: 10px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.filters-reset:hover path{
  fill: #FFF;
  opacity: 0.8;
}

.filters-reset path{
  fill: #AFBDC7;
  opacity: 0.5;
}


.filters-reset-label{
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.input-range__slider {
  appearance: none;
  background: #FF424F;
  border: 1px solid #FF424F;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
  margin-left: -4px;
  margin-top: -8px;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.2s ease-out;
}
  .input-range__slider:active {
    transform: scale(1.3);
  }
  .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none;
  }

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #aaaaaa;
  font-size: 0.6rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -0.8rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  display: none;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}
  .input-range__label--max .input-range__label-container {
    left: 50%;
  }

.input-range__track {
  background: #eeeeee;
  border-radius: 0.1rem;
  cursor: pointer;
  display: block;
  height: 0.2rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
  .input-range--disabled .input-range__track {
    background: #eeeeee;
  }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #FF424F;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 125px;
  /*width: 100%;*/
}
.App-sidebar-wrapper{
  position: relative;
  padding: 10px
}

.App-sidebar{
}

.sidebar-menu{
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid #222B31;
  font-size: 14px;
}

.sidebar-menu__item{
  position: relative;
}

.sidebar-menu__item a{
  color: #FFF;
  text-decoration: none;
  padding: 15px 25px;
  display: block;
  transition: all .3s ease;
}

.sidebar-menu__item a.is-active,
.sidebar-menu__item:hover a{
  background-color: #222B31;
  color: #FF424F;
}

.sidebar-menu__item a.is-active:after{
  content: '→';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  transition: color .3s ease;
}

.sidebar-menu__item a.is-active:hover:after{
  color: rgba(255, 255, 255, 0.8);
}


img.img-responsive.movie-poster {
  display: block;
    width: 300px;
    height: 450px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-bottom: 150px
}
.margin{
  margin-top: 150px
}

.App-content-wrapper {
  padding: 25px 2em;
  background-color: #222B31;
  color: #000;
  background: #fff;
}

.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid #000;
  font-size: 14px;
}
h1.filters {
  background: crimson;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px
}
.filter-label {
  font-size: 14px;

}
input.form-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}